@page "/fetchdata"

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if(Customers != null)
{

<table class="table">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Address</th>
            <th>E-Post</th>
            <th>Timpris</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Customers)
        {
        <tr>
            <td>@($"{customer.FirstName} {customer.LastName}")</td>
            <td>@customer.Address</td>
            <td>@customer.Email</td>
            <td>@customer.HourlyFee</td>
        </tr>
        }
    </tbody>
</table>
}

@code {
    [Inject] ICustomerService CustomerService { get; set; }
    protected CustomerInfo[] Customers;

    protected async override Task OnInitializedAsync()
    {
        var response = await CustomerService.GetPrivateCustomersAsync();
        if (response.Success) Customers = response.Entity;
    }
}
