@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div> *@

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Timeout="5"
                Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                IconType="IconType.FontAwesome"
                SuccessIcon="oi oi-check"
                ErrorIcon="oi oi-x"
                InfoIcon="oi oi-info"
                WarningIcon="oi oi-warning" />
