.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    /*background-color: rgba(0,0,0,0.4);*/
}

.brand-name {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #f2f4f2;
    text-transform: uppercase;
}
.brand-name span {
    color: #fff;
    font-weight: 900;
}

.oi {
    width: 2rem;
    font-size: 1rem;
    vertical-align: text-top;
    top: -1px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #f2f4f2;
        height: 2.5rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    border-left: 0.25rem solid #fff;
    /*background-color: rgba(255,255,255,0.25);*/
    /*color: #181f1b;*/
}

.nav-item ::deep a:hover {
    /*border-left: 0.25rem solid #72bc44;*/
    /*background-color: rgba(255,255,255,0.1);*/
    /*color: #181f1b;*/
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
