<blockquote class="blockquote py-4">
    <p class="mb-0">@Content</p>
    <footer class="blockquote-footer">Få mer hjälp i <a href="/about/faq" title="Användarhandboken">användarhandboken <i class="oi oi-book"></i></a></footer>
</blockquote>

@code {
    [Parameter] public string Content { get; set; }
}
