name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0'

    - name: Dotnet restore
      run: dotnet restore

    - name: Dotnet build
      run: dotnet build --configuration Release --no-restore

    - name: Dotnet test
      run: dotnet test --no-restore --verbosity normal
      